@font-face {
    font-family: "trip-sans";
    src: url('fonts/trip-sans.otf') format('truetype');
}

@font-face {
    font-family: "birds_of_paradise";
    src: url('fonts/birds_of_paradise.ttf') format('truetype');
}

body {
    background: 
    linear-gradient(rgba(143, 106, 167, 0.7), rgba(143, 106, 167, 0.7)),
    url('papertexture.png');
    background-size: 1000px;
    background-repeat: repeat;
    background-position: center;
}

h1 {
    font-family: "birds_of_paradise";
    font-weight: 200;
    color: #fbf5ff;
    filter: drop-shadow(2px 2px 0px rgba(23, 18, 26, 0.6));
    margin: 100px 100px -10px 100px;
}

h3 {
    font-family: "trip-sans";
    font-weight: bold;
    color: #fbf5ff;
    filter: drop-shadow(2px 2px 0px rgba(23, 18, 26, 0.6));
    margin: 15px 100px -50px 100px;
}

#cake {
    margin: 100px;
    padding: 5px;
    filter: drop-shadow(2px 2px 0px rgba(23, 18, 26, 0.6));
    transition: 0.3s;
    cursor: pointer;
}

#cake:hover {
    transform: translateY(-5px);
}

#cena {
    position: relative;
    width: 300px;
    margin: 0 auto;
}

#carta {
    width: 400px;
    display: block;
    margin: 20px auto;
    filter: drop-shadow(2px 2px 1px rgba(23, 18, 26, 0.6));
    opacity: 0;
    transform: scale(0.5) rotate(-20deg);
    transition: 1.2s;
}

#carta.show {
    opacity: 1;
    transform: scale(1) rotate(-5deg);
}

#us {
    width: 400px;
    display: block;
    margin: 20px auto;
    filter: drop-shadow(2px 2px 1px rgba(23, 18, 26, 0.6));
    opacity: 0;
    transform: scale(0.5) rotate(20deg);
    transition: 1.2s;
}

#us.show {
    opacity: 1;
    transform: scale(1) rotate(5deg);
}

.characters {
    position: absolute;
    width: 100px;
    opacity: 0;
    transform: scale(0.5);
    transition: 1s;
    border: 3px solid #fbf5ff;
    border-radius: 50%;
    box-shadow: 2px 2px 1px rgba(23, 18, 26, 0.6);
}

.characters.show {
    opacity: 1;
    transform: scale(1);
}

#sawako_kazehaya {
    top: -40px;
    left: -60px;
}

#tanjiro_kanao {
    bottom: 70px;
    right: 250px;
}

#vegeta_bulma {
    top: 50%;
    left: 110%;
    transform: translateY(-50%) scale(0.5);
}
#vegeta_bulma.show {
    transform: translateY(-50%) scale(1);
}

.hidden {
    opacity: 0;
    visibility: hidden;
}

.show {
    visibility: visible;
}

#historia{
    text-align: center;
    margin: 80px auto;
    opacity: 0;
    transform: translateY(30px);
    transition: 1.2s;
}

#historia.show{
    opacity: 1;
    transform: translateY(0);
}

#btnHistoria{
    display: inline-block;
    margin-top: 75px;
    padding: 15px 35px;
    background: rgba(251,245,255,0.15);
    border: 2px solid #fbf5ff;
    border-radius: 40px;

    color: #fbf5ff;
    text-decoration: none;

    font-family: "trip-sans";
    font-weight: bold;
    font-size: 22px;

    backdrop-filter: blur(4px);

    transition: .3s;

    box-shadow:
        0 0 15px rgba(251,245,255,.2);
}

#btnHistoria:hover{
    transform: translateY(-5px) scale(1.05);

    background: rgba(251,245,255,0.25);

    box-shadow:
        0 0 25px rgba(251,245,255,.5);
}

@media (max-width: 600px) {

    h1 {
        font-size: 28px;
    }

    h3 {
        font-size: 16px;
    }

    #cake {
        width: 250px;
        max-width: 80%;
        left: 10px;
    }

    #carta {
        width: 90%;
        max-width: 400px;
    }

    #us {
        width: 90%;
        max-width: 400px;
    }

    .characters {
        width: 80px;
    }

    #sawako_kazehaya {
        top: -30px;
        left: -30px;
    }

    #tanjiro_kanao {
        bottom: 70px;
        right: 250px;
    }

    #vegeta_bulma {
        top: 50%;
        left: 80%;
    }

}
